<main class="main">
  <div class="inner main-inner">
    <%# ログインしているときは以下を表示する %>
      <% if user_signed_in?%>
       <div class="greeting">
         こんにちは、
        <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: :greeting__link %>
      </div>
      <% end %>


    <div class="word__wrapper">
      <h2 class="word index">
        <%= "「#{@user.nickname}」さんの投稿一覧" %>
      </h2>

      <div class="tab-panel">
        <!--タブ-->
        <ul class="tab-group">
          <li class="tab tab-A is-active">記事</li>
          <li class="tab tab-B">コメント</li>
        </ul>
	
      	<!--タブを切り替えて表示するコンテンツ-->
        <div class="panel-group">
          <div class="panel tab-A is-show">Content-A</div>
          <div class="panel tab-B">Content-B</div>
        </div>
      </div>


      <% if @words.empty?  %>
        <h2 class="word index">
        <%= "「#{@user.nickname}」さんの投稿はありません。" %>
        </h2>
      <% else %>
        <h2 class="word index">
        <%= "「#{@user.nickname}」さんの投稿一覧" %>
        </h2>
        <%= render partial: 'layouts/word', collection: @words %>
      <% end %>
    </div>

  </div>
  <%= render partial: "layouts/side_ber",locals: { words: @side_words } %>
</main>