<div class="word">
  <%= link_to favorite.word.tug, word_path(favorite.word.id), class: :word__tug %>
  <div class="card__body">
    <%= link_to favorite.word.title, word_path(favorite.word.id), class: :word__title%>
    <div class="date-user">
      <div class="word__created">
        <%= l favorite.word.created_at %>
      </div>
      <div class="edit_user">
        <div class="ind_fav"><%=  icon('fas','star') %></div>
        <div class="ind_count"><%= favorite.word.favorites.count %></div>
        <%= link_to "投稿者 #{favorite.word.user.nickname}", user_path(favorite.word.user_id), class: :card__user %>
      </div>
    </div>
  </div>
</div>